<header>
    <div class="wrapper">
        <div class="text-center">
            <span class="hand-icon">👋</span>
            <h1>Je m'appelle <span class="primary">Guillaume</span>, intégrateur web et développeur Symfony.</h1>
        </div>
        <ul class="list-icon">
            {{#socialMedia}}
                {{#enabled}}
                    <li>
                        <a target="_blank" href="{{link}}">
                            <i class="{{icon}}"></i>
                        </a>
                    </li>
                {{/enabled}}
            {{/socialMedia}}
        </ul>
    </div>
</header>