.list-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: -40px;

  @media screen and (max-width: 900px) {
    display: block;
    margin: 0;
  }
  
  & > li {
    margin: 40px;
    max-width: calc(50% - 80px);
    flex-basis: calc(50% - 80px);

    @media screen and (max-width: 900px) {
      max-width: inherit;
      flex-basis: inherit;
      width: 100%;
      margin: $gutter 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.project {
  position: relative;
  display: block;
  color: white;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    right: 0;
    top: $gutter;
    height: calc(350px - #{$gutter});
    background-color: rgba($color-primary, .6);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    @media screen and (max-width: $screen-m) {
      height: calc(200px - #{$gutter});
    }
  }

  &:hover {
    .project-image {
      transform: scale(1);
    }

    .project-image-container {
      box-shadow: 0 0 20px 0 $color-primary;
    }
  }
}

.project-image-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  height: 350px;
  width: calc(100% - #{$gutter});
  box-shadow: 0 10px 30px 0 rgba($color-primary, .7);
  transition: box-shadow $duration ease;

  @media screen and (max-width: $screen-m) {
    height: 200px;
  }

  .project-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
    transition: transform $duration ease;
  }
}

.project-content {
  background-color: rgba($color-primary, .6);
  margin-left: $gutter;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: $gutter/2 $gutter;
}


.list-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  margin: -5px;
  color: white;

  & > li {
    padding: 2px 10px;
    background-color: darken($color-primary, 7%);
    border-radius: 5px;
    margin: 5px;
  }
}