h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: calc(2vw + 35px);
  letter-spacing: 1.05px;
}

h2 {
  font-size: calc(2vw + 20px);

  span {
    font-size: 20px;
  }
}

h3 {
  font-size: 30px;
  letter-spacing: 1.05px;
  margin-bottom: 10px;

  span {
    font-size: 20px;
  }
}