html {
  padding: $gutter;
  background-color: $color-primary;

  @media screen and (max-width: $screen-m) {
    padding: calc(#{$gutter} / 2);
  }
}

body {
  padding-bottom: $gutter;
}

main {
  position: relative;
  z-index: 1;
}