<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portefolio Guillaume Egloff alias Devcut</title>

    {{! Fonts }}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {{! Styles }}
    <link rel="stylesheet" href="./public/css/app.css">
</head>

<body>
    {{>header}}

    <main role="main">
        <div class="wrapper-large">
            <h2>Mes réalisations</h2>

            <ul class="list-project">
                {{#projects}}
                    {{#enabled}}
                        <li>
                            <a class="project" target="_blank" href="{{url}}">
                                <div class="project-image" style="background-image: url('./public/images/{{image}}')"></div>
                                <div class="project-content">
                                    <h3>{{title}} <span>({{year}})</span></h3>
                                    <ul class="list-tag">
                                        {{#tags}}
                                            <li>{{.}}</li>
                                        {{/tags}}
                                    </ul>
                                </div>
                            </a>
                        </li>
                    {{/enabled}}
                {{/projects}}
            </ul>
        </div>
    </main>

    {{! Javascript }}
    <script type="text/javascript" async src="./public/js/app.js"></script>
</body>
</html>