<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Guillaume Egloff alias Devcut</title>
    <link rel="icon" type="image/png" href="./public/favicon.png" />

    {{! Fonts }}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap" rel="stylesheet">

    {{! Styles }}
    <link rel="stylesheet" href="./public/css/app.css">
</head>

<body>
    {{>header}}

    <main role="main">
        <div class="wrapper-large">
            <h2>Mes réalisations <span>(une partie seulement)</span></h2>
            <div class="wrapper-small-no-pad">
                <p>Les projets que j'ai pu réaliser sont principalement des sites Internet pour d'autres entreprises. Néanmoins j'ai pu concevoir des API, des intranets et extranets. Mais ça je ne peux pas vous en parler ici 🤭.</p>
            </div>

            <ul class="list-project">
                {{#projects}}
                    {{#enabled}}
                        <li>
                            <div class="project">
                                <div class="project-image-container">
                                    <a href="{{url}}" target="_blank" class="project-image" style="background-image: url('./public/images/{{image}}')"></a>
                                </div>

                                <div class="project-content">
                                    <h3>{{title}} <span>({{year}})</span></h3>
                                    <ul class="list-tag">
                                        {{#tags}}
                                            <li>{{.}}</li>
                                        {{/tags}}
                                    </ul>
                                    {{#preview}}
                                        <p class="project-content-preview">{{{preview}}}</p>
                                    {{/preview}}
                                    {{#content}}
                                        <div id="project-content-{{id}}" class="modal">
                                            {{{content}}}
                                        </div>
                                        <a class="btn-primary open-modal" href="#project-content-{{id}}">En lire plus</a>
                                    {{/content}}
                                </div>
                            </div>
                        </li>
                    {{/enabled}}
                {{/projects}}
            </ul>
        </div>
    </main>

    <script src="./public/js/app.js"></script>
</body>
</html>